.featured {
  height: 100vh;
}

.featured--Vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--Horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to rigth, #111 30%, transparent 90%);
}